absl-py==0.13.0
alabaster==0.7.12
apipkg==1.5
asn1crypto==0.24.0
astor==0.8.1
astunparse==1.6.3
atomicwrites==1.4.0
attrs==21.2.0
autograd==1.3
autograd-gamma==0.5.0
Babel==2.9.1
backcall==0.2.0
backports.functools-lru-cache==1.6.4
backports.shutil-get-terminal-size==1.0.0
backports.ssl-match-hostname==3.7.0.1
backports.weakref==1.0.post1
bctpy==0.5.2
Beaker==1.10.0
beautifulsoup4==4.9.3
Bottleneck==1.3.2
bz2file==0.98
cached-property==1.5.2
cachetools==4.2.2
CCColUtils==1.5
certifi==2021.5.30
cffi==1.14.5
chardet==4.0.0
ci-info==0.2.0
click==8.0.1
configparser==5.0.2
cryptography==3.4.7
cssselect==1.1.0
cycler==0.10.0
Cython==0.29.23
dbus-python==1.2.16
decorator==4.4.2
dipy==1.4.1
distro==1.3.0
docutils==0.17.1
enum34==1.1.10
etelemetry==0.2.2
execnet==1.9.0
fastcache==1.1.0
filelock==3.0.12
flatbuffers==1.12
formulaic==0.2.3
funcsigs==1.0.2
fury==0.7.0
future==0.18.2
futures==3.1.1
gast==0.4.0
gitdb==4.0.7
gitdb2==4.0.2
GitPython==3.1.18
gmpy2==2.0.8
google-auth==1.32.0
google-auth-oauthlib==0.4.4
google-pasta==0.2.0
gpg==1.12.0
graphviz==0.16
grpcio==1.34.1
gssapi==1.6.12
h5py==3.1.0
hmmlearn==0.2.5
html5lib==1.1
husl==4.0.3
idna==2.10
imagesize==1.2.0
importlib-metadata==4.6.0
iniconfig==1.1.1
iniparse==0.5
interface-meta==1.2.3
ipaddress==1.0.23
ipython==7.25.0
ipython-genutils==0.2.0
isodate==0.6.0
jedi==0.18.0
Jinja2==3.0.1
joblib==1.0.1
jsonpath-rw==1.4.0
jsonschema==3.2.0
Keras==2.4.3
Keras-Applications==1.0.8
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
kerberos==1.3.1
kitchen==1.2.6
kiwisolver==1.3.1
koji==1.25.0
lifelines==0.26.0
littleutils==0.2.2
lockfile==0.12.2
lxml==4.6.3
Mako==1.1.0.dev0
Markdown==3.3.4
MarkupSafe==2.0.1
matplotlib==3.4.2
matplotlib-inline==0.1.2
mistune==0.8.4
mock==4.0.3
more-itertools==8.8.0
mpmath==1.2.1
munch==2.5.0
networkx==2.5.1
neurdflib==5.0.1
nibabel==3.2.1
nipype==1.6.1
nose==1.3.7
numexpr==2.7.3
numpy==1.19.5
oauthlib==3.1.1
offtrac==0.1.0
openidc-client==0.6.0
opt-einsum==3.3.0
outdated==0.2.1
packagedb-cli==2.14.1
packaging==20.9
pandas==1.2.5
pandas-flavor==0.2.0
parso==0.8.2
Paste==2.0.3
path==16.0.0
path.py==12.5.0
pathlib2==2.3.5
patsy==0.5.1
pbr==5.6.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.3.2
pingouin==0.3.12
plotly==5.1.0
pluggy==0.13.1
ply==3.11
progressbar==2.5
prompt-toolkit==3.0.19
protobuf==3.17.3
prov==2.0.0
psutil==5.8.0
ptyprocess==0.7.0
py==1.10.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.20.1
pycparser==2.20
pycrypto==2.6.1
pycurl==7.43.0.6
pydeface==2.0.0
pydicom==2.1.2
pydot==1.4.2
pydotplus==2.0.2
pyglet==1.5.18
Pygments==2.9.0
PyGObject==3.40.1
pygpgme==0.3
pygraphviz==1.7
pykerberos==1.2.1
pyOpenSSL==20.0.1
pyparsing==2.4.7
pyrsistent==0.18.0
PySocks==1.7.1
pytest==6.2.4
pytest-forked==1.3.0
pytest-xdist==2.3.0
python-bugzilla==3.0.2
python-dateutil==2.8.1
python-fedora==1.1.1
python-igraph==0.9.6
python-yubico==1.3.3
pytz==2021.1
pyusb==1.1.1
pyxattr==0.7.2
pyxdg==0.27
PyYAML==5.4.1
pyzmq==22.1.0
rdflib==5.0.0
repoze.lru==0.7
requests==2.25.1
requests-gssapi==1.2.3
requests-kerberos==0.12.0
requests-oauthlib==1.3.0
retrying==1.3.3
rpkg==1.62
rpm==4.14.2.1
rsa==4.7.2
scandir==1.10.0
scikit-learn==0.24.2
scipy==1.7.0
seaborn==0.11.1
simplegeneric==0.8.1
simplejson==3.17.2
six==1.15.0
sklearn==0.0
smmap==4.0.0
smmap2==3.0.1
snowballstemmer==2.1.0
sortedcontainers==2.4.0
soupsieve==2.2.1
Sphinx==4.0.2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sphinxcontrib-websupport==1.2.4
statsmodels==0.12.2
subprocess32==3.5.4
sympy==1.8
tables==3.6.1
tabulate==0.8.9
Tempita==0.5.1
tenacity==7.0.0
tensorboard==2.5.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow-estimator==2.5.0
tensorflow-gpu==2.5.0
termcolor==1.1.0
texttable==1.6.3
threadpoolctl==2.1.0
toml==0.10.2
torch==1.9.0
torchvision==0.10.0
tqdm==4.61.1
TractSeg==2.3
traitlets==5.0.5
traits==6.2.0
typing==3.7.4.3
typing-extensions==3.7.4.3
untangle==1.1.1
urlgrabber==4.1.0
urllib3==1.26.6
vtk==9.0.1
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.0.1
wrapt==1.12.1
xarray==0.18.2
xlrd==2.0.1
XlsxWriter==1.4.3
xlwt==1.3.0
zipp==3.4.1
